/* normalizacao */
*{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

/* cores em variaveis */
:root {
    --main-background: #fafafa;
    --purple-50: #f3f2ff;
    --purple-100: #c8c2ff;
    --purple-200: #a491ff;
    --purple-300: #8561ff;
    --purple-400: #6b31ff;
    --purple-500: #50f;
    --purple-600: #4100cf;
    --purple-700: #30009f;
    --purple-800: #210070;
    --purple-900: #130040;
}

/* geral */
.container{
    display: flex;
    background-color: var(--main-background);
    font-family: 'Inter', sans-serif;
}

/* aside menu */
aside{
    flex: 1 1 20%;
    min-height: 100vh;
}

#aside-logo{
    background-image: url('../static/idwall_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width:100%;
    height: 15%;    
}

.backoffice{
    text-align: center;
    font-size: 2.5rem;
    margin: 1vw;
    color: var(--purple-800);
}

.aside-menu{
    min-height: 100vh;
    background-color: var(--purple-600);
}

.aside-menu li{
    color: var(--purple-300);
    font-weight: bold;
    font-size: 1.5rem;
    list-style: none;
    padding: 1vw;
}

/* main content */
main{
    flex: 1 1 80%;
    min-height: 100vh;
    padding: 3vw;
}

h1{
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
    color: var(--purple-800)
}

.intro p{
    font-size: 1.5rem; 
    padding: 2vw;
}