/* normalizacao */
* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

/* cores em variaveis */
:root {
  --primary-color: #50f;
  --secondary-color: #fff;
  --success-color: #52c41a;
  --error-color: #f5222d;
  --warning-color: #faad14;
  --main-background: #fafafa;
  --purple-50: #f3f2ff;
  --purple-100: #c8c2ff;
  --purple-200: #a491ff;
  --purple-300: #8561ff;
  --purple-400: #6b31ff;
  --purple-500: #50f;
  --purple-600: #4100cf;
  --purple-700: #30009f;
  --purple-800: #210070;
  --purple-900: #130040;
  --gray-50: #fff;
  --gray-100: #fafafa;
  --gray-200: #f5f5f5;
  --gray-300: #e8e8e8;
  --gray-400: #d9d9d9;
  --gray-500: #bfbfbf;
  --gray-600: #8c8c8c;
  --gray-700: #595959;
  --gray-800: #262626;
  --gray-900: #000;
  --green-50: #f6ffed;
  --green-100: #d9f7be;
  --green-200: #b7eb8f;
  --green-300: #95de64;
  --green-400: #73d13d;
  --green-500: #52c41a;
  --green-600: #389e0d;
  --green-700: #237804;
  --green-800: #135200;
  --green-900: #092b00;
  --red-50: #fff1f0;
  --red-100: #ffccc7;
  --red-200: #ffa39e;
  --red-300: #ff7875;
  --red-400: #ff4d4f;
  --red-500: #f5222d;
  --red-600: #cf1322;
  --red-700: #a8071a;
  --red-800: #820014;
  --red-900: #5c0011;
  --yellow-50: #fffbe6;
  --yellow-100: #fff1b8;
  --yellow-200: #ffe58f;
  --yellow-300: #ffd666;
  --yellow-400: #ffc53d;
  --yellow-500: #faad14;
  --yellow-600: #d48806;
  --yellow-700: #ad6800;
  --yellow-800: #874d00;
  --yellow-900: #613400;
  --blue-50: #f0f5ff;
  --blue-100: #d6e4ff;
  --blue-200: #adc6ff;
  --blue-300: #85a5ff;
  --blue-400: #597ef7;
  --blue-500: #2f54eb;
  --blue-600: #1d39c4;
  --blue-700: #10239e;
  --blue-800: #061178;
  --blue-900: #030852;
}


/* geral */
.container {
  display: flex;
  background-color: var(--main-background);
  font-family: "Inter", sans-serif;
}

/* aside menu */
aside {
  flex: 1 1 15%;
  min-height: 100vh;
}

#aside-logo {
  background-image: url("../static/idwall_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 15%;
}

.backoffice {
  text-align: center;
  font-size: 2.5rem;
  margin: 1vw;
  color: var(--purple-800);
}

.aside-menu {
  min-height: 100vh;
  background-color: var(--purple-600);
}

.aside-menu li {
  color: var(--purple-300);
  font-weight: bold;
  font-size: 1.5rem;
  list-style: none;
  padding: 1vw;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--purple-300);
}

a:hover {
  color: var(--purple-50);
}

body {
  background: var(--purple-50);
}

/* main content */
main {
  flex: 1 1 80%;
  min-height: 100vh;
  padding: 3vw;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: var(--purple-800);
  font-weight: bold;
}

/* ajustes iniciais */
.intro p {
  font-size: 1.5rem;
  padding: 2vw;
}

/* tabela de processamento */
.produtos {
  max-width: 960px;

  margin: 60px auto;
}

.produtos h1 {
  font-size: 4em;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.produtos-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  max-width: 960px;
  border-radius: 10px;
  margin-top: 10%;
}

.produtos-item {
  flex: 1 1 50%;
  margin: 5px;
  background: var(--gray-200);
  max-width: 960px;
}

.produtos-item .red {
  border: solid var(--yellow-400);
  background: var(--gray-200);
}

.produtos-item h2 {
  font-size: 2em;
  display: flex;
  justify-content: center;
  color: var(--gray-600);
  margin: 0 auto;
  padding: 60px 20px;
}

.red {
  border-top: 8px solid var(--red-400);
}

.orange {
  border-top: 8px solid var(--yellow-500);
}

.green {
  border-top: 8px solid var(--green-400);
}

.paragrafo {
  background: f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 3em;
  color: var(--grey-500);
}

.botao {
  display: flex;
  margin: 2vh auto;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--purple-50);
  padding: 0.5rem 0.7rem;
  width: 10rem;
  height: 5rem;
  background: var(--purple-600);
  /******** arrumar aqui o deslocamento vertical da tela ********/
  border-radius: 1rem;
  transition: 0.3s;
  
}


.botao:hover {
  width: 12rem;
  background-color: var(--blue-800);
  color: var(--yellow-300);
  font-size: 1.5rem;
  font-weight: bolder;
}

/* ------------------------------------ */
button {
  outline: none;
  border: none;
  background: transparent;
}
button:hover {
  cursor: pointer;
}
iframe {
  border: none;
}

/* tabela de monitoramento */
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Inter", sans-serif;
}

.wrap-table100 {
  width: 1300px;
  margin-top: 3%;
}

/*//////////////////////////////////////////////////////////////////
    [ Table ]*/
table {
  width: 75%;
  background-color: var(--blue-50);
  margin-left: auto;
  margin-right: auto;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding-left: 25px;
}

.column100.column1, .column100.column2, .column100.column3 {
  width: 10px;
  padding-right: 25px;
  text-align: center;
  font-weight: bolder;
}

/* coluna de status */
.sinal{
  width: 1vw;
  height: 1vw;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

#funcionando{
  background-color: var(--success-color);
}

#pausado{
  background-color: var(--warning-color);
}

#semservico{
  background-color: var(--error-color);
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}

/*==================================================================
    [ Ver1 ]*/
.table100.ver1 td {
  font-size: 14px;
  color: var(--gray-600);
  line-height: 1.4;
}

.table100.ver1 th {
  color: var(--secondary-color);
  line-height: 1.4;
  text-transform: uppercase;
  background-color: var(--purple-600);
}

.table100.ver1 .row100:hover {
  background-color: var(--red-50);
}

.table100.ver1 .hov-column-ver1 {
  background-color: var(--red-50);
}

.table100.ver1 .hov-column-head-ver1 {
  background-color: var(--gray-700);
}

.table100.ver1 .row100 td:hover {
  background-color: var(--purple-300);
  color: var(--secondary-color);
}