/* normalizacao */
* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Inter", sans-serif;

}

/* cores em variaveis */
:root {
  --primary-color: #50f;
  --secondary-color: #fff;
  --success-color: #52c41a;
  --error-color: #f5222d;
  --warning-color: #faad14;
  --main-background: #fafafa;
  --purple-50: #f3f2ff;
  --purple-100: #c8c2ff;
  --purple-200: #a491ff;
  --purple-300: #8561ff;
  --purple-400: #6b31ff;
  --purple-500: #50f;
  --purple-600: #4100cf;
  --purple-700: #30009f;
  --purple-800: #210070;
  --purple-900: #130040;
  --gray-50: #fff;
  --gray-100: #fafafa;
  --gray-200: #f5f5f5;
  --gray-300: #e8e8e8;
  --gray-400: #d9d9d9;
  --gray-500: #bfbfbf;
  --gray-600: #8c8c8c;
  --gray-700: #595959;
  --gray-800: #262626;
  --gray-900: #000;
  --green-50: #f6ffed;
  --green-100: #d9f7be;
  --green-200: #b7eb8f;
  --green-300: #95de64;
  --green-400: #73d13d;
  --green-500: #52c41a;
  --green-600: #389e0d;
  --green-700: #237804;
  --green-800: #135200;
  --green-900: #092b00;
  --red-50: #fff1f0;
  --red-100: #ffccc7;
  --red-200: #ffa39e;
  --red-300: #ff7875;
  --red-400: #ff4d4f;
  --red-500: #f5222d;
  --red-600: #cf1322;
  --red-700: #a8071a;
  --red-800: #820014;
  --red-900: #5c0011;
  --yellow-50: #fffbe6;
  --yellow-100: #fff1b8;
  --yellow-200: #ffe58f;
  --yellow-300: #ffd666;
  --yellow-400: #ffc53d;
  --yellow-500: #faad14;
  --yellow-600: #d48806;
  --yellow-700: #ad6800;
  --yellow-800: #874d00;
  --yellow-900: #613400;
  --blue-50: #f0f5ff;
  --blue-100: #d6e4ff;
  --blue-200: #adc6ff;
  --blue-300: #85a5ff;
  --blue-400: #597ef7;
  --blue-500: #2f54eb;
  --blue-600: #1d39c4;
  --blue-700: #10239e;
  --blue-800: #061178;
  --blue-900: #030852;
}

/* menu lateral */ 
ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--purple-300);
}

a:hover {
  color: var(--secondary-color);
}

img {
  display: block;
  max-width: 100%;
}

body {
  background: var(--main-background);
}

/* geral */
.container {
  display: flex;
  background-color: var(--main-background);
}

/* aside menu */
aside {
  flex: 1 1 15%;
  min-height: 100vh;
}

#aside-logo {
  background-image: url("../static/idwall_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 15%;
}

.backoffice {
  text-align: center;
  font-size: 2.5rem;
  margin: 1vw;
  color: var(--purple-800);
}

.aside-menu {
  min-height: 100vh;
  background-color: var(--purple-600);
}

.aside-menu li {
  color: var(--purple-300);
  font-weight: bold;
  font-size: 1.5rem;
  list-style: none;
  padding: 1vw;
}

/* main content */
main {
  flex: 1 1 80%;
  min-height: 100vh;
  padding: 3vw;
}

h1 {
  text-align: center;
  font-size: 2.5rem;

  color: var(--purple-800);
}

/* tabela de usuarios */
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrap-table100 {
  width: 1300px;
  margin-top: 3%;
}

table {
  width: 100%;
  background-color: #fff;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding-left: 25px;
}

.column100.column1 {
  width: 10px;
  padding-right: 25px;
  text-align: center;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}

.table100.ver1 td {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 th {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: var(--purple-600);
}

.table100.ver1 .row100:hover {
  background-color: #f2f2f2;
}

.table100.ver1 .hov-column-ver1 {
  background-color: #f2f2f2;
}

.table100.ver1 .hov-column-head-ver1 {
  background-color: #484848;
}

.table100.ver1 .row100 td:hover {
  background-color: #6c7ae0;
  color: #fff;
}

/*Implementação de botões tabela usuarios*/
.column-acoes {
  width: 15%;
}

.acoes {
  display: flex;
} 

.botao-logar, .botao-detalhes {
  outline: none;
  border: none;
  background: transparent;
  margin: 0 3%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--purple-50);
  padding: 0.5rem 0.7rem;
  width: 10rem;
  height: 5rem;
  border-radius: 1rem;
}

.botao-detalhes {
  background: var(--purple-300);
}

.botao-logar {
  background: #4100cf;
}

/*Botão check*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4100cf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4100cf;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Campo pesquisa*/
.pesquisa {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.adicionar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1%;
  flex-wrap: nowrap;
}

.botao-adiciona {
  outline: none;
  border: none;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--purple-50);
  padding: 0.5rem 0.7rem;
  width: 10rem;
  height: 3rem;
  border-radius: 1rem;
  background: #4100cf;
}

.botao-pesquisa{
  outline: none;
  border: none;
  margin: 0 0.5%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--purple-50);
  padding: 0.5rem 0.7rem;
  width: 10rem;
  height: 3rem;
  border-radius: 1rem;
  background: #4100cf;
}

.usuario-desativado {
  display: flex;
  align-items: flex-end;
  width: 23%;
}

.usuario-desativado p {
  display: inline;
  font-size: 165%;
  margin-right: 10%;
}

.filtro {
  width: 25%;
  font-size: medium;
  padding-left: 0.5%;
}