/* normalizacao */
body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--purple-300);
}

a:hover {
  color: white;
}

img {
  display: block;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

body {
  background: #ffffff;
}

/* cores em variaveis */
:root {
  --main-background: #fafafa;
  --purple-50: #f3f2ff;
  --purple-100: #c8c2ff;
  --purple-200: #a491ff;
  --purple-300: #8561ff;
  --purple-400: #6b31ff;
  --purple-500: #50f;
  --purple-600: #4100cf;
  --purple-700: #30009f;
  --purple-800: #210070;
  --purple-900: #130040;
}

/* geral */
.container {
  display: flex;
  background-color: var(--main-background);
  font-family: "Inter", sans-serif;
}

/* aside menu */
aside {
  flex: 1 1 15%;
  min-height: 100vh;
}

#aside-logo {
  background-image: url("../static/idwall_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 15%;
}

.backoffice {
  text-align: center;
  font-size: 2.5rem;
  margin: 1vw;
  color: var(--purple-800);
}

.aside-menu {
  min-height: 100vh;
  background-color: var(--purple-600);
}

.aside-menu li {
  color: var(--purple-300);
  font-weight: bold;
  font-size: 1.5rem;
  list-style: none;
  padding: 1vw;
}

/* main content */
main {
  flex: 1 1 80%;
  min-height: 100vh;
  padding: 3vw;
}

h1 {
  text-align: center;
  font-size: 2.5rem;

  color: var(--purple-800);
}

.intro p {
  font-size: 1.5rem;
  padding: 2vw;
}

.produtos {
  max-width: 960px;

  margin: 60px auto;
}

.produtos h1 {
  font-size: 3em;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.produtos-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  max-width: 960px;
  border-radius: 10px;
  margin-top: 10%;
}

.produtos-item {
  flex: 1 1 50%;
  margin: 5px;
  background: #f7f7f7;
  max-width: 960px;
}

.produtos-item .purple {
  border: solid yellow;
  background: #f7f7f7;
}

.produtos-item h2 {
  font-size: 2em;
  display: flex;
  justify-content: center;
  color: #a4a4a4;
  margin: 0 auto;
  padding: 60px 20px;
}

.purple {
  border-top: 8px solid #ff4d4f;
}

.pink {
  border-top: 8px solid #faad14;
}

.blue {
  border-top: 8px solid #73d13d;
}

.relatorio {
  font-size: 2em;
  display: flex;
  align-items: center;
}

.paragrafo {
  background: f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 3em;
  color: #a4a4a4;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 32px;
  height: 38px;
  padding: 2%;
}

.exibir {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  background-color: red;
}

label {
  font-size: 2em;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.status {
  width: 960px;
  border: solid red;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: blue;
}

.botao {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--purple-50);
  padding: 0.5rem 0.7rem;
  width: 10rem;
  height: 5rem;
  background: #4100cf;
  border-radius: 1rem;
  transition: 0.3s;
}

.botao:hover {
  width: 11rem;
  height: 6rem;
  font-size: 1.5rem;
}

input {
  display: block;
  outline: none;
  border: none;
}
textarea {
  display: block;
  outline: none;
}
textarea:focus,
input:focus {
  border-color: transparent;
}
/* ------------------------------------ */
button {
  outline: none;
  border: none;
  background: transparent;
}
button:hover {
  cursor: pointer;
}
iframe {
  border: none;
}
/*//////////////////////////////////////////////////////////////////
    [ Table ]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}
.container-table100 {
  width: 100%;
  min-height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Inter", sans-serif;
}

.wrap-table100 {
  width: 1300px;
  margin-top: 3%;
}
/*//////////////////////////////////////////////////////////////////
    [ Table ]*/
table {
  width: 100%;
  background-color: #fff;
}
th,
td {
  font-weight: unset;
  padding-right: 10px;
}
.column100 {
  width: 130px;
  padding-left: 25px;
}
.column100.column1 {
  width: 10px;
  padding-right: 25px;
  text-align: center;
}
.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}
.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}
/*==================================================================
    [ Ver1 ]*/
.table100.ver1 td {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}
.table100.ver1 th {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: var(--purple-600);
}
.table100.ver1 .row100:hover {
  background-color: #f2f2f2;
}
.table100.ver1 .hov-column-ver1 {
  background-color: #f2f2f2;
}
.table100.ver1 .hov-column-head-ver1 {
  background-color: #484848;
}
.table100.ver1 .row100 td:hover {
  background-color: #6c7ae0;
  color: #fff;
}

/*Implementação de botões tabela usuarios*/
.column-acoes {
  width: 15%;
}

.acoes {
  display: flex;
} 

.botao-logar, .botao-detalhes {
  margin: 0 3%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--purple-50);
  padding: 0.5rem 0.7rem;
  width: 10rem;
  height: 5rem;
  border-radius: 1rem;
}

.botao-detalhes {
  background: var(--purple-300);
}

.botao-logar {
  background: #4100cf;
}

.sem-link:hover {
  
}